.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Linkbrary-gradation);
    color: var(--Grey-Light);
    font-family: Pretendard;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  .CTA.small {
    width: 300px;
    height: 36px;
    padding: 10px 16px;
    font-size: 16px;
  }
  
  .CTA.large {
    width: 350px;
    padding: 16px 20px;
    font-size: 18px;
  }
  
  .CTA.input.small {
    width: 80px;
    padding: 10px 16px;
    font-size: 12px;
  }
  